<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sequences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1634EB3E1B25BFF9005237EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1634EB481B25BFF9005237EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1634EB5C1B25C10B005237EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1634EB661B25C10B005237EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1634EB781B25C133005237EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1634EB821B25C133005237EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16401F941B15210C00C9CAC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16401FA31B15210D00C9CAC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164749831B15922D00B01DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164749921B15922D00B01DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164749A81B15937600B01DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164749B71B15937600B01DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EFC8841B10BA06004F3443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
